@import url('../lib/bootstrap/dist/css/bootstrap.css');

body {
  /*background: #293f50;*/
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*=========================

        Main layout

=========================*/

.logo {
  color: #000;
  font-size: 60px;
}

.main-nav {
  list-style-type: none;

  /*overflow: hidden;*/
  /*border: 1px solid black;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
  /*margin: 0.5px;
  height: 40px;*/
}

/*.container .nav {
  margin: 0px;
}*/

.menu-item {
  /*display: inline-flex;
  height: 100%;
  width: 8em;
  margin: 0px 5px 0px 5px;*/
  display: inline;
  /*text-align: center;*/
}

.menu-item a {
  /*display: block;*/
  padding: 8px;
  font-size: 20px;
  font-weight: 700;
}

/*=========================

        Home screen

=========================*/

form label {
  display: block;
}

form {
  padding: 1em 1em 1em 1em;
}

.text-field {
  width: 15em;
}